@import "../../../colors.scss";

:host {
  grid-area: route;
  background-color: color(background-light);
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
  align-items: center;
  justify-content: space-evenly;
  color: color(font);
  // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

img {
  width: 24rem;
}

h3 {
  display: flex;
  justify-content: space-evenly;
  margin: 0.5rem 0;
  width: 100%;
}
