@import "~@angular/material/theming";
@include mat-core();

$hype-app-primary: mat-palette($mat-amber);

$hype-app-accent: mat-palette($mat-indigo);

// The warn palette is optional (defaults to red).
$hype-app-warn: mat-palette($mat-red, A700);

// Create the theme object (a Sass map containing all of the palettes).
$hype-app-theme: mat-dark-theme(
  $hype-app-primary,
  $hype-app-accent,
  $hype-app-warn
);

@include angular-material-theme($hype-app-theme);
@import "./colors.scss";
/* You can add global styles to this file, and also import other style files */
html {
  background-color: color(background) !important;
  color: color(font-default);
  overflow-x: hidden;
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  font: 400 1rem/1.5rem Roboto, "Helvetica Neue", sans-serif;
  min-width: 20rem;
}
*,
::after,
::before {
  box-sizing: border-box;
}
