@import "../../../colors.scss";

:host {
  display: grid;
  grid-template-columns: 1fr 64px;
  grid-template-rows: 1.5rem min-content;
  column-gap: 1rem;
  background-color: color(background-dark);
  margin: 0.5rem 0;
  padding: 1rem;
}

h3 {
  margin: 0;
  padding: 0 0.5rem;
  background-color: color(font-alt);
  color: color(background-dark);
  font: 400 1.3rem/1.5rem Roboto;
}

::ng-deep h2 {
  margin: 0;
  padding: 0 0.5rem;
  font: 300 1rem/2.5rem Roboto;
  color: color(font);
  word-break: break-all;
}

img {
  width: 64px;
  height: 64px;
  place-self: center;
  grid-area: 1 / 2 / 3 / 3;
}
