:host {
  display: flex;
  flex-direction: column;
  // color: $font;
  text-align: center;
  justify-content: space-evenly;
  min-height: 28rem;
  height: 65vh;
}

form {
  display: contents;
}

#form-utility-panel {
  display: flex;
  justify-content: space-around;
  // a:link,
  // a:visited {
  //   color: $font;
  // }
}

#submit-button {
  width: 60%;
  align-self: center;
}

#oauth-panel {
  display: flex;
  justify-content: space-evenly;
}

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  :host {
    height: 100%;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}
