@import "../../colors.scss";

:host {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  align-content: center;
  justify-content: space-between;
  box-sizing: border-box;
  min-width: 20rem;
  padding: 0.5rem 1rem;
  border-top: 2px solid color(background-light);
}

h3 {
  text-align: center;
  margin: 0;
  flex: 1 1 8rem;
  font-weight: 200;
}

a {
  color: color(font);
}

a:hover {
  color: color(font-alt);
}
