@import "../../../colors.scss";

:host {
  grid-area: route;
  background-color: color(background-light);
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  color: color(font);
}

img {
  width: 24rem;
}

h3 {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0;
  width: 100%;
}
