@import "../../../colors.scss";

:host {
  display: block;
  // padding: 1rem;
  // overflow-y: auto;
}

mat-form-field {
  // width: 100%;
  width: 26rem;
  margin: 1rem;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

#search-result {
  background-color: color(background-light);
  position: absolute;
  width: 28rem;
  padding: 1rem;
  max-height: 70vh;
  z-index: 450;
  overflow-y: auto;
}
