@import "../../colors.scss";

:host {
  z-index: 500;
  position: sticky;
  top: 0;
  right: 0;
  color: color(font);
  background-color: color(background-light);
  display: flex;
  align-items: center;
}

button[mat-icon-button] {
  color: color(font-alt);
  margin: 0 1rem;
}

#panel {
  display: none;
  background-color: color(background-light);
}

a[mat-stroked-button],
button[mat-stroked-button] {
  font: 400 2rem/3rem Vibur;
}

.open {
  display: block !important;
  height: calc(100% - 3rem);
  position: fixed;
  top: 3rem;
  left: 0;
  width: 100%;
  padding: 2rem 1rem;
  #body {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    & > * {
      margin: 1rem;
    }
  }
}

.auth {
  color: black;
  background-color: color(font-default);
}

.active {
  color: black;
  background-color: color(font-alt);
}

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  :host {
    justify-content: space-evenly;
  }
  button[mat-icon-button] {
    display: none;
  }
  #panel {
    display: contents !important;
    #body {
      display: contents;
    }
    section {
      display: none;
    }
    p {
      display: none;
    }
  }

  a[mat-stroked-button] {
    display: block;
    font: 400 1.6rem/2rem "Vibur", "Roboto", sans-serif;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}

// .container {
//   position: fixed;
//   justify-content: space-between;
//   overflow-y: auto;
//   background-color: color(background-light);
// }

// a {
//   flex: 1 1 auto;
// }

// .open {
//   display: flex;
//   width: 100%;
//   top: 3rem;
//   left: 0;
//   height: calc(100% - 3rem);
// }

// section {
//   overflow-y: auto;
//   margin: 2rem 0.5rem;
//   flex: 1 1 auto;
// }

// /* Small Devices, Tablets */
// @media only screen and (min-width: 768px) {
//   .container {
//     display: flex;
//     flex-direction: row;
//     overflow: hidden;
//     position: relative;
//     padding: 0 0;
//   }

//   a {
//     margin: 0 0.5rem;
//   }

//   .open {
//     top: 0;
//   }

//   section {
//     display: none;
//   }
// }
