@import "../../colors.scss";

:host {
  background-color: color(background-light);
  position: sticky;
  top: 0;
  z-index: 501;
}

h2 {
  margin: 0 1rem;
  font: 400 2rem/3rem "Vibur", "Roboto", sans-serif;
  color: color(font-alt);
}
